@import "../../components/all";


    
.create-reservation {
    background: #455070;
    padding: 1em;
    margin: 0 1em;
    border-bottom-right-radius: 7%;
    text-align: center;

    h2, p {
        color: $secondary-text-color;
        letter-spacing: .022em;
    }


    input[type=datetime-local] {
        // background: red;
        width: 100%;
        border: none;
        border-radius: 3%;
        padding: 1em;
        margin-bottom: .8em;
    }

    button {
        display: block;
        @extend .button-basic;
    }
}