.restaurant-detail {
    margin-top: 1em;
    padding: 1em;
}

.restaurant-info {
    margin: 0 1em 3em 1em;

    h2, p {
        line-height: 0.2em;
    }

    h2{
        font-size: 1.8em;
    }
}
    
.create-reservation {
    @include cards;
    margin: 0 1em;
    border-bottom-right-radius: 7%;
    text-align: center;

    h2, p {
        color: $secondary-text-color;
        letter-spacing: .022em;
    }


    input[type=datetime-local] {
        // background: red;
        width: 100%;
        border: none;
        border-radius: 3%;
        padding: 1em;
        margin-bottom: .8em;
    }

    button {
        display: block;
        @extend .button-basic;
    }
}