<section class="home">
  <div class="container" style="text-align: center">
    <h2>Your table reservation booking was successful</h2>
    <p>
      You are getting this email because you booked a table at <%= restaurant
      %>.
    </p>

    <p>Reservation Time: <%= date %></p>

    <p>Please endeavour to be present for your dining.</p>

    <div style="margin-top: 2em">
      <a href="https://cuisine-express.herokuapp.com/"
        >cuisine-express.herokuapp.com</a
      >
    </div>
  </div>
  `
</section>
