<section class="home">
  <div class="container">
    <ul>
      <% restaurants.forEach(restaurant => { %>
      <div class="card">
        <a href="<%= `/restaurant/${restaurant.name}` %>">
          <li>
            <p><%= restaurant.name.toUpperCase() %></p>
            <p><%= restaurant.address %></p>
          </li>
        </a>
      </div>

      <% }) %>
    </ul>
  </div>
</section>
