* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f2f2f2;
  color: #444;
  font-family: 'Alef', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  background: white;
  margin: 0;
  padding: 0 .7em;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (min-width: 1024px) {
  header .container {
    place-content: space-between;
  }
}

header h3 {
  font-size: 1.6em;
  margin-top: 1em;
}

header h3 span {
  color: #20272e;
}

@media only screen and (min-width: 669px) {
  header h3 {
    font-size: 2em;
    letter-spacing: .1rem;
    margin-top: .6em;
  }
}

header nav {
  display: none;
  background: #20272e;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 70vh;
}

@media only screen and (min-width: 669px) {
  header nav {
    display: block;
    background: none;
    width: 60%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

header .nav-menu {
  display: block;
}

header .menu-tray {
  cursor: pointer;
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 1.5em;
}

@media only screen and (min-width: 600px) {
  header .menu-tray {
    display: none;
  }
}

header .bar1, header .bar2, header .bar3 {
  width: 39px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
  background-color: white;
  position: fixed;
  z-index: 999;
}

header .change .bar2 {
  opacity: 0;
}

header .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
  background-color: white;
  position: fixed;
  z-index: 999;
}

header ul {
  margin-top: 6em;
}

@media only screen and (min-width: 669px) {
  header ul {
    margin-top: 1.9em;
    text-align: right;
  }
}

header li {
  margin-right: 1.3em;
}

@media only screen and (min-width: 600px) {
  header li {
    display: inline;
  }
}

@media only screen and (min-width: 669px) {
  header li .pry-cta {
    background-color: blue;
    color: white;
    border-radius: 30px;
  }
}

header li a {
  padding: .8em 1em;
  color: white;
  font-size: 1.4em;
  display: block;
  text-align: right;
}

@media only screen and (min-width: 669px) {
  header li a {
    color: #000;
    display: inline;
    text-align: right;
    padding: .6em .6em;
    font-size: 1.2em;
  }
}

.button-basic, .create-reservation button {
  background-color: #04AA6D;
  color: white;
  font-size: 1.2em;
  font-weight: lighter;
  padding: 12px 20px;
  border: none;
  border-radius: 3%;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.create-reservation {
  background: #455070;
  padding: 1em;
  margin: 0 1em;
  border-bottom-right-radius: 7%;
  text-align: center;
}

.create-reservation h2, .create-reservation p {
  color: white;
  letter-spacing: .022em;
}

.create-reservation input[type=datetime-local] {
  width: 100%;
  border: none;
  border-radius: 3%;
  padding: 1em;
  margin-bottom: .8em;
}

.create-reservation button {
  display: block;
}

.button-basic, .create-reservation button {
  background-color: #04AA6D;
  color: white;
  font-size: 1.2em;
  font-weight: lighter;
  padding: 12px 20px;
  border: none;
  border-radius: 3%;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}
/*# sourceMappingURL=app.css.map */