@import "core/variables";

body {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    background: white;
    margin: 0;
    padding: 0 .7em;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // place-content: space-between;
        // background: olivedrab;

        @media only screen and (min-width: 600px){
            // background-color: rgb(21, 8, 8);
            // display: block;
            // background-color: aqua;
            place-content: space-between;
        } 
            

        .nav-menu {
            display: block;
        }
    }

    h3 {
        font-size: 1.8em;
        // background-color: blue;
        margin-top: .7em;

        span{
            color: #20272e;
        }

        @media only screen and (min-width: 600px){
            font-size: 2em;
            letter-spacing: .1rem;
            margin-top: .6em;
        } 
    }

    nav {
        display: none;
        background: #20272e;
        position: fixed;
        right: 0;
        top: 0;
        // z-index: 99;
        width: 100%;
        height: 70vh;

        @media only screen and (min-width: 600px){
            // background-color: rgb(21, 8, 8);
            display: block;
            background: none;
            width: 60%;
            height: min-content;;
        } 
    }

    .menu-tray {
        cursor: pointer;
        display: inline-block;
        width: max-content;
        margin-top: 1.5em;
        // background-color: blue;

        @media only screen and (min-width: 600px){
            // background-color: rgb(21, 8, 8);
            display: none;
        } 
    }

    .bar1, .bar2, .bar3 {
        width: 39px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
        background-color: white;
        position: fixed;
        z-index: 999;
    }
      
    .change .bar2 {opacity: 0;}
      
    .change .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
        background-color: white;
        position: fixed;
        z-index: 999;
    }

    ul {
        margin-top: 6em;
        // background-color: paleturquoise;

        @media only screen and (min-width: 600px){
            // background-color: rgb(86, 97, 162);
            margin-top: 1.9em;
            text-align: right;
        } 
    }

    li {
        margin-right: 1.3em;


        @media only screen and (min-width: 600px){
            // background-color: rgb(21, 87, 8);
            display: inline;
        } 

        .pry-cta {
            @media only screen and (min-width: 600px){
                background-color: $primary-color;
                color: white;
                border-radius: 30px;
            } 
        }

        a {
            padding: .8em 1em;
            // background: red;
            color: white;
            font-size: 1.4em;
            display: block;
            text-align: right;

            @media only screen and (min-width: 600px){
                // background-color: rgb(21, 8, 8);
                color: #000;
                display: inline;
                text-align: right;
                padding: .6em .6em;
                font-size: 1.2em;
                // padding: 0;
            } 
        }
    }
}