* {
    box-sizing: border-box
}

body {
    margin: 0;
    background-color: $body-background-color;
    color: $text-color;
    font-family: 'Alef', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    background: white;
    margin: 0;
    padding: 0 .7em;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include for_breakpoint(desktop) {
            place-content: space-between;
        }
    }

    h3 {
        font-size: 1.6em;
        // background-color: blue;
        margin-top: 1em;

        span{
            color: #20272e;
        }

        @include for_breakpoint(medium) {
            font-size: 2em;
            letter-spacing: .1rem;
            margin-top: .6em;
        }
    }

    nav {
        display: none;
        background: #20272e;
        position: fixed;
        right: 0;
        top: 0;
        // z-index: 99;
        width: 100%;
        height: 70vh;


        @include for_breakpoint(medium) {
            display: block;
            background: none;
            width: 60%;
            height: min-content;;
        }
    }

    .nav-menu {
            display: block;
    }

    .menu-tray {
        cursor: pointer;
        display: inline-block;
        width: max-content;
        margin-top: 1.5em;
        // background-color: blue;

        @media only screen and (min-width: 600px){
            // background-color: rgb(21, 8, 8);
            display: none;
        } 
    }

    .bar1, .bar2, .bar3 {
        width: 39px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
        background-color: white;
        position: fixed;
        z-index: 999;
    }
      
    .change .bar2 {opacity: 0;}
      
    .change .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
        background-color: white;
        position: fixed;
        z-index: 999;
    }

    ul {
        margin-top: 6em;
        // background-color: paleturquoise;

        @include for_breakpoint(medium) {
                margin-top: 1.9em;
                text-align: right;
        }
    }

    li {
        margin-right: 1.3em;


        @media only screen and (min-width: 600px){
            // background-color: rgb(21, 87, 8);
            display: inline;
        } 

        .pry-cta {
            @include for_breakpoint(medium) {
                background-color: $primary-color;
                color: white;
                border-radius: 30px;
            }
        }

        a {
            padding: .8em 1em;
            // background: red;
            color: white;
            font-size: 1.4em;
            display: block;
            text-align: right;
        
            @include for_breakpoint(medium) {
                color: #000;
                display: inline;
                text-align: right;
                padding: .6em .6em;
                font-size: 1.2em;
            }
            
        }
    }
}

.flash-message {
    padding-left: 1.5em;
    // background-color: #000;

    .success-message {
        color: rgb(22, 236, 22);
    }

    .error-message {
        color: #ff0000;
    }

    .error-message, .success-message{
        font-size: 1.4em;
    }
}

