<form action="create-business" method="post"">
    <h2>Register Your Business</h2>
    <input type="text" id="name" name="name" placeholder="business name">

    <input type="email" name="email" id="email" placeholder="business email">

    <input type="password" name="password" id="password" placeholder="password">

    <input type="text" name="address" id="address" placeholder="address">


    <input type="number" name="zipCode" id="zip-code" placeholder="zip code">
    

    <button type="submit">Register</button>
</form>