<%= restaurant.name %>
<%= restaurant.address %>
<%= restaurant.zipCode %>



<form  method="post">
    <h2>
        Make a reservation
    </h2>

    <label for="reservationDateTime">Select date and time </label>
    <input type="datetime-local" id="reservationDateTime" name="reservationDateTime" required>
    <button type="submit">Create reservation</button>
</form>
    