<%= restaurant.name %>
<%= restaurant.address %>
<%= restaurant.zipCode %>



<form action="/" method="post">
    <h2>
        Make a reservation
    </h2>

    <button type="submit">Create reservation</button>
</form>
    