<form action="login" method="post">
    <h2>login</h2>

    <input type="email" name="email" placeholder="email" required>

    <input type="password" name="password" placeholder="password" required>
    
    <button type="submit">Login</button>
</form>